[submodule "Project"]
	path = Project
	url = https://github.com/Danimdf/Banco-Digital-com-Java.git
[submodule "Desafio-POO"]
	path = Desafio-POO
	url = https://github.com/Danimdf/Desafio-Poo-Dio.git
[submodule "Lab-Padroes-Java"]
	path = Lab-Padroes-Java
	url = https://github.com/Danimdf/Lab-padroes-projeto-dio.git
